@font-face {
	font-family: "Montserrat-Regular";
	src: url(fonts/Montserrat-Regular.ttf);
}

@font-face {
	font-family: "Montserrat-Light";
	src: url(fonts/Montserrat-Light.ttf);
}

@font-face {
	font-family: "Montserrat-LightItalic";
	src: url(fonts/Montserrat-Italic.ttf);
}

@font-face {
	font-family: "Montserrat-SemiBoldItalic";
	src: url(fonts/Montserrat-SemiBoldItalic.ttf);
}

/* Start Reset css */
html, body, div, span, applet, object, iframe,
p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* End Reset css */

html, body {
	color: #ffffff;
	font-family: "Montserrat";
	font-size: 14px;
	height: 100%;
}
body {
	background: url(../image/bg_layer.png) #231f20 no-repeat fixed;
	background-size: cover;
}
h1, h2, h3, h4, h5 {
	margin: 0;
}
li {
	list-style: none;
}
a {
	color: #ffffff;
}
a:hover, a:focus {
	color: #ffffff;
	text-decoration: none;
}

/* header_box style*/
.header_box {
	background: url(../image/header_box.png) center no-repeat;
	height: 105px;
	margin: 100px 0;
}
.header_box h1 {
	font-size: 30px;
	font-weight: 700;
	letter-spacing: 3px;
	text-align: center;
	text-transform: uppercase;
	padding-top: 34px;
}

/* header style */
.header {
	background-color: #231f20;
	padding: 10px 0;
	position: fixed;
	z-index: 1000;
}
.header ul li a {
	color: #f3f3f4;
	float: left;
	font-size: 14px;
	font-weight: 300;
	line-height: 48px;
	letter-spacing: 0.7px;
}
.header ul li a:hover {
	color: #eeebec;
	font-weight: 700;
}
.header .active {
	color: #eeebec;
	font-weight: 700;
}
.header ul li a:first-child {
	padding-left: 0;
}
.header_phone {
	background: url(../image/phone.png) left no-repeat;
	padding-left: 60px;
}
.header_phone p {
	color: #f3f3f4;
	font-size: 13px;
	letter-spacing: 1.4px;
}
.soc_button {
	padding: 0;
}
.soc_button img {
	padding-right: 10px;
}

/* topBanner style */
.topBanner {
	background: url(../image/banner.png) no-repeat;
	background-size: cover;
	height: 100%;
}
.topBanner_about {
	padding-top: 25%;
	width: 548px;
}
.topBanner_about h1 {
	font-size: 30px;
	font-weight: 700;
	letter-spacing: 3px;
	padding-bottom: 74px;
	text-transform: uppercase;
}
.topBanner_about strong {
	font-size: 16px;
	font-weight: 700;
	letter-spacing: 0.16px;
	line-height: 30px;
}
.topBanner_about p {
	font-size: 16px;
	font-weight: 400;
	letter-spacing: 0.8px;
	line-height: 30px;
	padding-top: 20px;
}

/* about style */
.about .container {
	position: relative;
}
.about_image__first {
	float: left;
	padding-right: 30px;
}
.about_cafe {
	width: 570px;
	height: 370px;
	background-color: #ffffff;
	padding: 36px 43px 0 68px;
	position: absolute;
	top: 25%;
	right: 0%;
	overflow: hidden;
}
.about_cafe h2 {
	color: #000000;
	font-size: 16px;
	font-weight: 700;
	letter-spacing: 0.16px;
	line-height: 30px;
}
.about_cafe p {
	color: #000000;
	font-size: 16px;
	font-weight: 400;
	letter-spacing: 0.8px;
	line-height: 30px;
}

/* menu style */
.menu {
	background: #444444 url(../image/bg_menu.png) right no-repeat;
	background-size: 50% 100%;
	height: 758px;
}
.menu_price_breakfast,
.menu_price_dinner,
.menu_price_supper {
	padding: 30px 0;
	height: 758px;
}
.menu_price_breakfast hr,
.menu_price_dinner hr,
.menu_price_supper hr {
	width: 100%;
	border: solid 1px #ffffff;
}
.menu_price_breakfast .download_pdf a,
.menu_price_dinner .download_pdf a,
.menu_price_supper .download_pdf a {
	font-size: 12px;
	font-style: italic;
	letter-spacing: 1.4px;
	text-decoration: underline;
}
.menu_price_breakfast .download_pdf a:hover,
.menu_price_dinner .download_pdf a:hover,
.menu_price_supper .download_pdf a:hover {
	font-weight: 500;
	text-decoration: none;
}
.menu_price__dish {
	line-height: 0px;
}
.menu_price__dish_name {
	/*color: #ffffff;*/
	font-size: 24px;
	font-weight: 700;
	letter-spacing: 2px;
}
.menu_price__dish_info {
	font-style: italic;
	font-size: 13px;
	font-weight: 400;
	letter-spacing: 1.4px;
	line-height: 10px;
}
.menu_price__cost {
	padding-bottom: 10px;
}
.menu_price__cost p {
	font-size: 26px;
	font-weight: 700;
	line-height: 45px;
}
.menu_price__cost sup {
	font-size: 16px;
}
.menu_choice__breakfast, .menu_choice__dinner, .menu_choice__supper {
	width: 169px;
	height: 169px;
	border: 5px solid rgba(243, 243, 244, 0.5);
	margin: 49px auto;
	cursor: pointer;
}
.menu_choice__breakfast {
	background: url(../image/breakfast.png) no-repeat 50% 50%;
}
.menu_choice__dinner {
	background: url(../image/dinner.png) no-repeat 50% 50%;
}
.menu_choice__supper {
	background: url(../image/supper.png) no-repeat 50% 50%;
}
.menu_choice .active {
	width: 215px;
	height: 215px;
	border: 5px solid rgba(243, 243, 244, 0.5);
	background-color: #766e6f;
	transition: .5s;
}
.menu .show {
	display: flex;
}
.menu .hide {
	display: none;
}

/* cafeGallery style */
.cafeGallery {
	width: 968px;
}

/* cafeSpace style */
.cafeSpace {
	
}
.cafeSpace_firstLine {
	margin-bottom: 20px;
}
.cafeSpace_firstLine__img_first {
	float: left;
	max-width: 753px;
	padding-right: 20px;
}
.cafeSpace_firstLine__img_second {
	max-width: 353px;
}
.cafeSpace_secondLine__img_third {
	float: left;
	max-width: 353px;
}
.cafeSpace_secondLine__img_four {
	max-width: 753px;
	padding-left: 20px;
}

/* footer_map style */
.footer_map {
	
}

/* footer style */
footer {
	background-color: #231f20;
	padding: 60px 0;
}
.footer_contact__about {
	font-size: 16px;
	font-weight: 400;
	line-height: 30px;
	letter-spacing: 0.8px;
}
.footer_contact__info {
	border-left: 2px solid #f3f3f4;
}
.footer_contact__info p {
	font-size: 18px;
	font-weight: 500;
	line-height: 36px;
	letter-spacing: 1.8px;
}
.footer_contact__info_phone {
	background: url(../image/small_phone.png) left no-repeat;
	padding-left: 30px;
}
.footer_contact__info_email {
	background: url(../image/email.png) left no-repeat;
	padding-left: 30px;
}
.footer_contact__info_address {
	padding-left: 30px;
}

/* Owl Carousel style */
/*.arrow1, .arrow2 {
	width: 20px;
	height: 14px;
	position: absolute;
	top: 50%;
	cursor: pointer;
	z-index: 2;
}
.arrow1 {
	transform: rotate(90deg);
	left: 5%;
}
.arrow2 {
	transform: rotate(270deg);
	right: 5%;
}*/